%h1 Teams
- if god?
  %form{action: "/leagues/#{@current_league.id}/update_espn_rosters", method: 'post'}
    =hidden_field_tag :authenticity_token, form_authenticity_token
    %button Update rosters from ESPN
%br
- if @current_league
  %table
    %tr
      %th Team name
      %th Payroll
      - @current_league.positions.each do |p|
        %th= "#{p}s"
    - @current_league.teams.order(:id).each do |team|
      %tr
        %td
          %a{:href => "/teams/#{team.id}"}
            = team.name
        %td
          = @payrolls[team.id]
        - @current_league.positions.each do |p|
          %td
            = (@rosters_by_pos[team.id] || {})[p] || 0
