<h1>Teams</h1>
<% if @current_league %>
  <table>
    <tr>
      <th>Team name</th>
      <th>Payroll</th>
      <% @current_league.positions.each do |p| %>
        <th><%= p %>s</th>
      <% end %>
    </tr>
    <% teams = @current_league.teams %>
    <% teams.each do |team| %>
      <tr>
        <td><a href="/teams/<%= team.id %>"><%= team.name %></a></td>
        <td><%= team.payroll %></td>
        <% @current_league.positions.each do |p| %>
          <td><%= team.active_contracts.select{|c| c.player.position == p}.count %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>