%h1
  = @team.name
  .subtitle
    = @team.owner ? @team.owner.name : "(Unowned)"
    %br
    = "Last fetched from ESPN at #{@team.espn_roster_last_updated}"
    = link_to('Update', "/teams/#{@team.id}/fetch_espn", :method => :post) if god?

%table{:style => "display: inline-table;"}
  %tr
    %th{:style => "font-size:9pt; text-transform:uppercase;"}
      Payroll
  %tr
    %td{:style => "font-size:24pt; text-align:center;"}
      = @team.payroll

%table{:style => "display: inline-table;"}
  %tr
    %th{:style => "font-size:9pt; text-transform:uppercase;"}
      Payroll available
  %tr
    %td{:style => "font-size:24pt; text-align:center;"}
      = @team.payroll_available

%table
  %tr
    %th Name
    %th Value
    %th First year
    %th Length
    - if god?
      %th Actions
  - @team.players.sort { |x,y| poslist = @team.league.positions; (poslist.index(x.position) <=> poslist.index(y.position)) || 0 }.each do |player|
    - pvc = @team.players_pvcs.all.select{|pvc| pvc.player_id == player.id}.first
    %tr
      %td
        %a{:href => "/players/#{player.id}"}
          = "#{player.name}, #{player.position} #{player.nfl_team}"
      %td
        = pvc ? pvc.new_value : nil
      %td
        = pvc ? pvc.first_year : nil
      %td
        = pvc ? (pvc.last_year - pvc.first_year + 1) : nil
      - if god?
        %td
          = link_to('Drop', "/teams/#{@team.id}/players/#{player.id}/drop", :method => :post)
