<h1>
<%= @team.name %>
<span class="subtitle">
  <% if @team.owner %>
    <%= @team.owner.name %>
  <% else %>
    (Unowned)
  <% end %>
</span>
</h1>

<table style="display:inline-table;">
  <tr><th style="font-size:9pt; text-transform:uppercase;">Payroll</th></tr>
  <tr><td style="font-size:24pt; text-align:center;"><%= @team.payroll %></td></tr>
</table>
<table style="display:inline-table;">
  <tr><th style="font-size:9pt; text-transform:uppercase;">Payroll available</th></tr>
  <tr><td style="font-size:24pt; text-align:center;"><%= @team.payroll_available %></td></tr>
</table>
<table style="display:inline-table;">
  <tr><th style="font-size:9pt; text-transform:uppercase;">Quick sign</th></tr>
  <tr><td>
    <%= render :partial => 'components/quick_sign', :locals => {:team => @team} %>
  </td></tr>
</table>
<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>First year</th>
    <th>Length</th>
  </tr>
  <% @team.active_contracts.sort { |x,y| (@team.league.positions.index(x.player.position) <=> @team.league.positions.index(y.player.position)) || 0 }.each do |c| %>
    <tr>
      <td>
        <a href="/players/<%= c.player.id %>">
        <%= c.player.first_name %> <%= c.player.last_name %>,
        <%= c.player.position %> <%= c.player.nfl_team %>
        </a>
      </td>
      <td>
        <%= c.value %>
      </td>
      <td>
        <%= c.first_year %>
      </td>
      <td>
        <%= c.length %>
      </td>
      <% if brian? %>
      <td>
        <%= form_tag("/contracts/#{c.id}", :method => "DELETE") do %>
          <%= text_field_tag(:msg) %>
          <%= submit_tag("Comment and nix", :confirm => "Are you sure you want to drop #{c.player.first_name} #{c.player.last_name}?") %>
        <% end %>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if brian? %>
<div id='espn-compare'>
  <span style='cursor:pointer;' id='espn-compare-reloader'>Click here to compare to ESPN roster</span>
  <div id='espn-compare-board'>
  </div>
  <script type='text/javascript'>
    $(document).ready(function(){
      $("#espn-compare-reloader").click(function(){
        $("#espn-compare-board").empty();
        $("#espn-compare-board").append("<img src='/images/tiny-throbber.gif' />");

        $.ajax({
          url: "/teams/<%= @team.id %>/espn_compare",
          dataType: 'json',
          success: function(data){
            var compareTable = $("<table><tr><th>Only on ESPN</th><th>Only on FFL</th></tr></table>");
            for (var i = 0; i < data.espn.length; i++) {
              compareTable.append($("<tr><td>" + data.espn[i].full_name + "</td><td></td></tr>"));
            }
            for (var i = 0; i < data.db.length; i++) {
              compareTable.append($("<tr><td></td><td>" + data.db[i].full_name + "</td></tr>"));
            }
            $("#espn-compare-board").empty();
            $("#espn-compare-board").append(compareTable);
          },
          error: function(xhr, status, error){
            $("#espn-compare-board").text("Error: " + error);
          }
        });
      });
    });
  </script>
</div>
<% end %>