<h1>
<%= @team.name %>
<span class="subtitle">
  <% if @team.owner %>
    <%= @team.owner.name %>
  <% else %>
    (Unowned)
  <% end %>
</span>
</h1>

<table style="display:inline-table;">
  <tr><th style="font-size:9pt; text-transform:uppercase;">Payroll</th></tr>
  <tr><td style="font-size:24pt; text-align:center;"><%= @team.payroll %></td></tr>
</table>
<table style="display:inline-table;">
  <tr><th style="font-size:9pt; text-transform:uppercase;">Payroll available</th></tr>
  <tr><td style="font-size:24pt; text-align:center;"><%= @team.payroll_available %></td></tr>
</table>
<table style="display:inline-table;">
  <tr><th style="font-size:9pt; text-transform:uppercase;">Quick sign</th></tr>
  <tr><td>
    <%= render :partial => 'components/quick_sign', :locals => {:team => @team} %>
  </td></tr>
</table>
<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>First year</th>
    <th>Length</th>
  </tr>
  <% @team.contracts.where(:nixed_at => nil).sort { |x,y| (@team.league.positions.index(x.player.position) <=> @team.league.positions.index(y.player.position)) || 0 }.each do |c| %>
    <tr>
      <td>
        <a href="/players/<%= c.player.id %>">
        <%= c.player.first_name %> <%= c.player.last_name %>,
        <%= c.player.position %> <%= c.player.nfl_team %>
        </a>
      </td>
      <td>
        <%= c.value %>
      </td>
      <td>
        <%= c.first_year %>
      </td>
      <td>
        <%= c.length %>
      </td>
      <td>
        <%= form_tag("/contracts/#{c.id}", :method => "DELETE") do %>
          <%= submit_tag("Drop", :confirm => "Are you sure you want to drop #{c.player.first_name} #{c.player.last_name}?", :style => {:backgroundColor => "red"}) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>