<%
league = League.find league_id
player = Player.find player_id
contract = league.get_contract_for_player player_id
%>

<%= form_tag contract ? "/contracts/#{contract.id}" : "/contracts", :method => contract ? 'put' : 'post' do %>

  <table>
    <tr>
      <th>Team</th>
      <th>Value</th>
      <th>Year</th>
      <th>Length</th>
      <th>Action</th>
    <tr>
    <tr>
      <td>
        <%= render :partial => "components/teampicker", :locals => {:league_id => league.id, :default_team_id => contract ? contract.team_id.to_s : ""} %>
      </td>
      <td>
        <input type="text" name="value" value="<%= contract.value unless contract.nil? %>" onChange="fieldValueChanged(this);" style="width: 2em;"/>
      </td>
      <td>
        <input type="text" name="first_year" value="<%= contract.first_year unless contract.nil? %>" onChange="fieldValueChanged(this);" style="width: 4em;"/>          
      </td>
      <td>
        <% if contract.nil? %>
        
        <% else %>
          <%= contract.length %>
        <% end %>
      </td>
      <td>
        <input name="player_id" type="hidden" value="<%= player.id %>" />
        <input type="submit" value="<%= contract.nil? ? 'Create' : 'Update' %>" />
      </td>
    </tr>
  </table>
  
<% end %>