<table style="font-size: 8pt; display: inline-table;">
  <tr><th colspan="2">session</th></tr>
  <% session.each do |k,v| %>
    <tr><td><%= k %></td><td><%= v %></td></tr>
  <% end %>
</table>
<table style="font-size: 8pt; display: inline-table;">
  <tr><th colspan="2">request.path_parameters</th></tr>
  <% request.path_parameters.each do |k,v| %>
    <tr><td><%= k %></td><td><%= v %></td></tr>
  <% end %>
</table>
<table style="font-size: 8pt; display: inline-table;">
  <tr><th colspan="2">flash</th></tr>
  <% flash.each do |k,v| %>
    <tr><td><%= k %></td><td><%= v.to_json %></td></tr>
  <% end %>
</table>
Referer: <%= request.referer %>