<% if @current_league %>
  <h1><%= @current_league.name %></h1>
  <% @current_league.rfa_periods.each do |rfa| %>
    <span class="noticebox">
      <span style="font-weight:bold;">
        Hey, check it! There's an RFA period
      </span>
      from <%= rfa.open_date %>
      until <%= rfa.close_date %>
      for players with contracts expiring at the end of the <%= rfa.final_year %> season. <a href="/rfa_periods/<%= rfa.id %>">Take a look.</a>
    </span>
  <% end %>
  <span class="noticebox">
    <span style="font-weight:bold;">
      Wow, look how nice I am.
    </span>
    I even made a nice little <a href="/contracts">spreadsheet</a> for you with all the player contracts.
  </span>
  <h2>Teams</h2>
  <table>
    <% @current_league.teams.each do |team| %>
      <tr>
        <td><%= team.name %>, <%= team.owner ? team.owner.name : "Unowned" %></td>
      </tr>
    <% end %>
  </table>
<% end %>