<% if @current_league %>
  <h1><%= @current_league.name %></h1>
  <% @current_league.rfa_periods.each do |rfa| %>
    <span class="noticebox">
      <strong>Hey, check it! There's an RFA period</strong>
      from <%= rfa.open_date %>
      until <%= rfa.close_date %>
      for players with contracts expiring at the end of the <%= rfa.final_year %> season. <a href="/rfa_periods/<%= rfa.id %>">Take a look.</a>
    </span>
  <% end %>
  <span class="noticebox">
    <strong>Wow, look how nice I am.</strong>
    <!-- I even made a nice little <a href="/player_value_changes">spreadsheet</a> for you with all the player contracts. -->
  </span>

  <script>
    $(function (){
      var cache = {}, lastXhr;
      $("#player_finder").autocomplete({
        minLength: 3,
        select: function(event, ui){
          $("#player_id").val(ui.item.id.toString());
        },
        source: function(request, response) {
          var term = request.term;
          if (term in cache) {
            response(cache[term]);
            return;
          }
          
          lastXhr = $.getJSON("/players.json", {'last_name': term}, function(data, status, xhr){
            ret = [];
            for (var i = 0; i < data.length; i++)
            {
              var p = data[i].player;
              var showtext = p.first_name + " " + p.last_name + " (" + p.position + ", " + p.nfl_team + ")";
              ret.push({
                label: showtext,
                value: showtext,
                id: data[i].player.id
              });
            }
            cache[term] = ret;
            if (xhr === lastXhr) {
              response(ret);
            }
          });
        }
      });
    });
  </script>
<% end %>