<% if @current_league %>
  League homepage for league #<%= @current_league.id %>: <%= @current_league.name %><br/><br/>
  <% @current_league.rfa_periods.each do |rfa| %>
    <span style="display:inline-block; border:1px solid goldenrod; background-color: lightyellow; padding:.5em;">
      <span style="font-weight:bold;">
        Hey, check it! There's an RFA period
      </span>
      from <%= rfa.open_date %>
      until <%= rfa.close_date %>
      for players with contracts expiring at the end of the <%= rfa.final_year %> season. <a href="/rfa_periods/<%= rfa.id %>">Take a look.</a>
    </span>
  <% end %>
<% end %>