<% contract = @contract %>
<h1>Contract #<%= contract.id %></h1>
<a href="/player/view?pid=<%= contract.player.id %>" style="text-decoration: none;">
<%= render :partial => "components/playercard", :locals => {:player_id => contract.player.id} %>
</a><br/>
<%= contract.team.name if contract.team %><br/>
$<%= contract.value %><br/>
Purchased <%= contract.first_year %>, <%= contract.length %> years