<html>
<body>
  <form name="input" action="/player/search" method="get">
  Last name: <input type="text" name="last_name" /><br/>
  <input type="submit" value="Submit" />
  </form>
  <% criteria = params.slice('last_name', 'first_name', 'nfl_team', 'position')
  players = Player.where(criteria).all %>
  <table style="margin-top: 1em;">
  <% players.each do |p| %>
    <tr>
      <td>
        <a href="/player/view?pid=<%= p.id %>">
        <%= p.last_name %>, <%= p.first_name %>
      </td>
      <td>
        <%= p.position %>
      </td>
      <td>
        <%= p.nfl_team %>
      </td>
    </tr>
  <% end %>
  </table>
</body>
</html>