
  <% player = Player.find(params[:pid]) %>
  <%= render :partial => "components/playercard", :locals => {:player_id => player.id}%><br/><br/>
  
  Status in each league:<br/>
  <table>
    <tr>
      <th>League</th>
      <th>Team</th>
      <th>Value</th>
      <th>Year</th>
      <th>Length</th>
      <th>Action</th>
    </tr>
  <% League.all.each do |l| %>
    <tr>
      <% contract = l.get_contract_for_player(player) %>
      <form action="<%= "/contracts#{contract ? '/' + contract.id.to_s : '' }" %>" method="post">
        <% if !contract.nil? %>
          <input name="_method" type="hidden" value="put" />
        <% end %>
        <td><%= l.name %></td>
        <td>
          <%= render :partial => "components/teampicker", :locals => {:league_id => l.id, :default_team_id => contract ? contract.team_id.to_s : ""} %>
        </td>
        <td>
          <input type="text" name="value" value="<%= contract.value unless contract.nil? %>" onChange="fieldValueChanged(this);" style="width: 4em;"/>
        </td>
        <td>
          <input type="text" name="first_year" value="<%= contract.first_year unless contract.nil? %>" onChange="fieldValueChanged(this);" style="width: 4em;"/>          
        </td>
        <td>
          <% if contract.nil? %>
            <input type="text" name="length" style="width: 4em;" />
          <% else %>
            <%= contract.length %>
          <% end %>
        </td>
        <td>
          <input name="player_id" type="hidden" value="<%= player.id %>" />
          <input type="submit" value="<%= contract.nil? ? 'Create' : 'Update' %>" />
        </td>
      </form>
    </tr>
  <% end %>
  </table>
