<h1>RFA Period
<span class="subtitle">
  <%= DateRange.new(@rfaperiod.open_date, @rfaperiod.close_date) %><br/>
  For contracts expiring following <%= @rfaperiod.final_year %> season
</span>
</h1>

<% if god? %>
  <%= form_tag("/rfa_periods/#{@rfaperiod.id}/bigredbutton", :method => "POST") do %>
    <%= submit_tag('BIG RED BUTAN', {:style => 'cursor:pointer; background-image:url("/images/bigredbutton.png"); background-position:center; background-color:transparent; color:#700; text-shadow:0px 1px 0px #e00; border:none; width:122px; height:122px;'}) %>
  <% end %>
<% end %>

<span class="noticebox">
  <% if @rfaperiod.open? %>
    This RFA period is <span style="color:green;">open</span>.
    <% if @rfaperiod.close_date %>
      It ends in <%= timespan_string(@rfaperiod.close_date - Time.now) %>
    <% end %>
  <% else %>
    This RFA period is <span style="color:red;">closed</span>.
  <% end %>
</span>

<% if @rfaperiod.open? and @current_team %>
  <span class="noticebox">
    <span style="font-weight:bold;">
      Just so you know,
    </span>
    your team, <%= @current_team.name %>, is allowed to bid up to <%= @current_team.max_rfa_bid(@rfaperiod.id) %>.
  </span>
<% end %>

<span class="noticebox">
  <% if @rfaperiod.rfa_decision_period %>
    Owners may select whether to keep their RFAs from
    <strong><%= @rfaperiod.rfa_decision_period.open_date || "the beginning of time" %></strong> until
    <strong><%= @rfaperiod.rfa_decision_period.close_date || "the end of time" %></strong>.
    <% if @rfaperiod.rfa_decision_period.open? %>
      The RFA decision period is <span style="color:green;">open</span>.
      <% if @rfaperiod.rfa_decision_period.close_date %>
        You have <%= timespan_string(@rfaperiod.rfa_decision_period.close_date - Time.now) %> left.
      <% end %>
    <% else %>
      The RFA decision period is <span style='color:red;'>closed</span>.
    <% end %>
  <% else %>
    A time period has not yet been designated for owners to select whether to keep their RFAs.
  <% end %>
</span>

<% if (@rfaperiod.rfa_decision_period.open? rescue false) and @current_team %>
  <span class="noticebox">
    <% tentative_payroll = @rfaperiod.rfa_decision_period.tentative_payroll_for_team(@current_team.id) %>
    <strong>Your tentative payroll is <%= tentative_payroll %></strong> right now.
    This is the sum of minimum necessary contracts for RFAs you've decided to keep, plus all non-RFA contracts on your team.
    <% if tentative_payroll > @rfaperiod.league.salary_cap %>
      This is <span style="color:red;">
        <%= tentative_payroll - @rfaperiod.league.salary_cap %> over
      </span>
      the league salary cap of <%= @rfaperiod.league.salary_cap %>.
    <% else %>
      This is <span style="color:green;">
      <%= - tentative_payroll + @rfaperiod.league.salary_cap %> under
      </span>
      the league salary cap of <%= @rfaperiod.league.salary_cap %>.
    <% end %>
  </span>
<% end %> 

<h2>Eligible players</h2>
<% pid_to_pcv = Hash[ @rfaperiod.contracts_eligible.collect{|c| [c.player_id, c]} ] %>
<% @rfaperiod.league.teams.includes(:espn_roster_spots => :player).each do |team| %>
  <span style="display:inline-block; margin-right:1em;">
    <h3><a href="/teams/<%=team.id%>"><%= team.name %></a></h3>
    <table>
      <tr>
        <th>Player</th>
        <% if god? %><th>PV</th><% end %>
        <th>Top bid</th>
        <% if @rfaperiod.open? %><th>Action</th><% end %>
        <% if @rfaperiod.rfa_decision_period %><th>Keep?</th><% end %>
      </tr>
      <% team.players.each do |p| %> 
        <% pvc = pid_to_pcv[p.id]; next if pvc.nil? %>
        <tr>
          <td>
            <a href="/players/<%= p.id %>">
              <%= p.first_name %> <%= p.last_name %>
              <span style="font-variant:small-caps;">
                <%= p.position.downcase %>, <%= p.nfl_team.downcase %>
              </span>
            </a>
          </td>
          <td>
            <% max_bid = @rfaperiod.top_bid_for(p.id) %>
            <% if max_bid %>
              <%= max_bid.value %>
              <span style="font-size:50%;"><%= max_bid.team.name %></span>
            <% end %>
          </td>
          <% if @rfaperiod.open? %>
            <td>
              <%= form_tag("/rfa_bids", :method => "POST") do %>
                <%= hidden_field_tag(:rfa_period_id, @rfaperiod.id) %>
                <%= hidden_field_tag(:player_id, p.id) %>
                <%= text_field_tag(:value, '', :style => "width: 3em;") %>
                <%= submit_tag("Bid") %>
              <% end %>
            </td>
          <% end %>
          <% if @rfaperiod.rfa_decision_period %>
            <% decision = @rfaperiod.rfa_decision_period.rfa_decisions.select{|d| d.player_id == p.id and d.team_id == team.id}.first %>
            <% keep = decision.keep rescue nil %>
            <td style='background-color: <%= {true => 'lightgreen', false => 'salmon', nil => 'lightyellow'}[keep] %>;'>
              <%= render :partial => 'components/rfa_decider', :locals => { :contract => c, :team => @current_team } %>
              <%= decision.keepstring rescue 'undecided' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </span>
<% end %>