<h1>RFA Period
<span class="subtitle">
  <%= DateRange.new(@rfaperiod.open_date, @rfaperiod.close_date) %><br/>
  For contracts expiring following <%= @rfaperiod.final_year %> season
</span>
</h1>

<span class="noticebox">
  <% if @rfaperiod.open? %>
    This RFA period is <span style="color:green;">open</span>.
    <% if @rfaperiod.close_date %>
      <%
      seconds_left = @rfaperiod.close_date - Time.now
      time_left_days = (seconds_left / (60*60*24)).to_i
      time_left_hours = ((seconds_left - time_left_days*60*60*24) / (60*60)).to_i
      time_left_minutes = ((seconds_left - time_left_days*60*60*24 - time_left_hours*60*60) / 60).to_i
      %>
      It ends in <%= time_left_days %> days, <%= time_left_hours %> hours, <%= time_left_minutes %> minutes.
    <% end %>
  <% else %>
    This RFA period is <span style="color:red;">closed</span>.
  <% end %>
</span>

<% if @current_team %>
  <span class="noticebox">
    <span style="font-weight:bold;">
      Just so you know,
    </span>
    your team, <%= @current_team.name %>, is allowed to bid up to <%= @current_team.max_rfa_bid(@rfaperiod.id) %>.
  </span>
<% end %>

<h2>Eligible players</h2>
<% @rfaperiod.league.teams.each do |team| %>
  <span style="display:inline-block; margin-right:1em;">
    <h3><%= team.name %></h3>
    <table>
      <tr>
        <th>Player</th>
        <% if brian? %><th>PV</th><% end %>
        <th>Top bid</th>
        <% if @rfaperiod.open? %><th>Action</th><% end %>
        <% if @rfaperiod.rfa_decision_period.id %><th>Keep?</th><% end %>
      </tr>
      <% @rfaperiod.contracts_eligible.select { |c|  c.team_id == team.id }.each do |c| %>
        <tr>
          <td>
            <a href="/players/<%= c.player.id %>">
              <%= c.player.first_name %> <%= c.player.last_name %>
              <span style="font-variant:small-caps;">
                <%= c.player.position.downcase %>, <%= c.player.nfl_team.downcase %>
              </span>
            </a>
          </td>
          <% if brian? %><td><%= c.value %></td><% end %>
          <td>
            <% max_bid = @bids.where(:player_id => c.player_id).order("value DESC").limit(1).first %>
            <% if max_bid %>
              <%= max_bid.value %>
              <span style="font-size:50%;"><%= max_bid.team.name %></span>
            <% end %>
          </td>
          <% if @rfaperiod.open? %>
            <td>
              <%= form_tag("/rfa_bids", :method => "POST") do %>
                <%= hidden_field_tag(:rfa_period_id, @rfaperiod.id) %>
                <%= hidden_field_tag(:player_id, c.player.id) %>
                <%= text_field_tag(:value, '', :style => "width: 3em;") %>
                <%= submit_tag("Bid") %>
              <% end %>
            </td>
          <% end %>
          <% if @rfaperiod.rfa_decision_period.id %>
            <% decision = @rfaperiod.rfa_decision_period.rfa_decisions.where(:player_id => c.player_id, :team_id => c.team_id).first %>
            <% if decision and decision.keep == true %><td style='background-color:lightgreen;'>Keep</td><% end %>
            <% if decision and decision.keep == false %><td style='background-color:salmon;'>Drop</td><% end %>
            <% if decision.nil? or decision.keep.nil? %><td></td><% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </span>
<% end %>