<h1>New user</h1>
<%= form_tag(:controller => 'users', :action => 'create', :method => 'post' ) do %>

<%= label_tag(:name, "Name") %>
<%= text_field_tag(:name) %><br/>
<%= label_tag(:email, "E-mail") %>
<%= text_field_tag(:email) %><br/>
<%= label_tag(:password, "Password")  %>
<%= password_field_tag(:password) %><br/>
<%= submit_tag("Register") %>
<% end %>