<% player = Player.find(params[:id]) %>
<%= render :partial => "components/playercard", :locals => {:player_id => player.id}%><br/><br/>

<% if @current_league %>
  <%= render :partial => 'components/contract_widget', :locals => { :league_id => @current_league.id, :player_id => player.id} %>
  
  <% RfaPeriod.where(:league_id => @current_league.id).each do |rfa| %>
    <h2>Bids for RFA lasting <%= rfa.open_date.strftime("%b %d %Y") %> to <%= rfa.close_date.strftime("%b %d %Y") %></h2>
    <table>
      <tr>
        <th>Team</th>
        <th>Value</th>
        <th>Date</th>
      </tr>
      <% RfaBid.where(:rfa_period_id => rfa.id).each do |bid| %>
        <tr>
          <td><%= bid.team.name %></td>
          <td><%= bid.value %></td>
          <td><%= bid.created_at %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>