<h1>Transaction #<%= @transaction.id %>
<div class='subtitle'>This transaction <%= @transaction.completed? ? "IS" : "IS NOT" %> complete.</div>
</h1>
<% @transaction.moves.all.sort{|m,n| main_team_for(m).name <=> main_team_for(n).name }.each do |move| %>
  <span style='border-bottom:1px solid silver;'>
    <%= description_for(move) %>
    <%= form_tag move_path(move.id), :method => 'delete', :style => "display:inline;" do %>
      <%= submit_tag "Delete!" %>
    <% end %>
    <br/>
  </span>
<% end %>
<%= form_tag "/moves", :method => 'post' do %>
  <%= label_tag :player_finder, 'Last name'%>
  <%= text_field_tag :player_finder %>
  <%= hidden_field_tag :player_id, '', :style => "width: 4em;" %>
  <%= hidden_field_tag :transaction_id, @transaction.id %>
  <%= select_tag(:type, options_for_select([['Add', 'add'], ['Drop', 'drop'], ['Trade', 'trade']])) %>
  <%= render :partial => "components/teampicker", :locals => {:league_id => @transaction.league_id} %>
  <%= submit_tag "Add move" %>
  <style>
    .ui-autocomplete-loading { background: white url('/images/tiny-throbber.gif') right center no-repeat; }
  </style>
  <script>
    $(function (){
      var cache = {}, lastXhr;
      $("#player_finder").autocomplete({
        minLength: 3,
        select: function(event, ui){
          $("#player_id").val(ui.item.id.toString());
        },
        source: function(request, response) {
          var term = request.term;
          if (term in cache) {
            response(cache[term]);
            return;
          }
          
          lastXhr = $.getJSON("/players.json", {'last_name': term}, function(data, status, xhr){
            ret = [];
            for (var i = 0; i < data.length; i++)
            {
              var p = data[i].player;
              var showtext = p.first_name + " " + p.last_name + " (" + p.position + ", " + p.nfl_team + ")";
              ret.push({
                label: showtext,
                value: showtext,
                id: data[i].player.id
              });
            }
            cache[term] = ret;
            if (xhr === lastXhr) {
              response(ret);
            }
          });
        }
      });
    });
  </script>
<% end %>
<%= form_tag "/transactions/#{@transaction.id}/complete", :method => 'post' do %>
  <%= submit_tag "COMPLETE!" %>
<% end %>