<!DOCTYPE html>
<html>
<head>
  <title>ffl</title>
  <%= stylesheet_link_tag :all, :recursive => true %>
  <%= javascript_include_tag :all, :recursive => false %>
  <%= javascript_include_tag 'widgets/ticker', {} %>
  <%= csrf_meta_tag %>
  
</head>
<body style="margin:0px;">
<%# render :partial => 'components/debug_panel' %>
<div id="header">
  <ul>
    <li><a href="/" style="color: white; font-weight: bold;">FFL</a></li>
    <li id='navbar-league-li'>
      <% if @current_league %>
        <a href="/leagues" style="color: lightgreen; display:block;"><%= @current_league.name %> &blacktriangledown;</a>
      <% else %>
        <a href="/leagues" style="color: salmon; font-style:italic;">No league &blacktriangledown;</a>
      <% end %>
      <% if @current_user %>
        <div id='user-team-selector' >
          <a href="/leagues/-1" style="font-style:italic;">No league</a>
          <% @current_user.leagues.each do |l| %>
            <a href="/leagues/<%= l.id %>"><%= l.name %></a>
          <% end %>
        </div>
      <% end %>
    </li>
    <li><a href="/players">players</a></li>
    <% if @current_league %>
      <li><a href="/teams">teams</a></li>
      <% @current_league.rfa_periods.each do |rfa| %>
        <li><a href="/rfa_periods/<%= rfa.id %>" style="color:lightyellow;">RFA</a></li>      
      <% end %>
    <% end %>
  </ul>
  <span id="login_logout" style="float:right; white-space:nowrap; ">
    <% if @current_user %>
      <span style="">Welcome, <%= @current_user.name %>!</span>
      <a href="/application/logout">Logout</a>
    <% else %>
      <%= form_tag :controller => 'application', :action => 'login', :method => 'post' do %>
        <%= label_tag(:name, "Username") %>
        <%= text_field_tag(:name, nil, :style => 'width: 8em;') %>
        <%= label_tag(:password, "Password") %>
        <%= password_field_tag(:password, nil, :style => 'width: 8em;') %>
        <%= submit_tag("Login") %>
        <a href="/users/new">Register</a>
      <% end %>
    <% end %>
  </span>
</div>
<% [:error, :warning, :notice].each do |cat| %>
  <% next unless flash[cat] %>
  <% flash[cat].each do |msg| %>
    <div class="<%= cat %>"><%= msg %></div>
  <% end %>
<% end %>
<div id="bigdiv" style="margin: .5em;">
<%= yield %>
</div>

</body>
</html>
