<!DOCTYPE html>
<html>
<head>
  <title>ffl</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <link type="text/css" href="/css/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
  		<script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
  		<script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
  
</head>
<body style="margin:0px;">
<%# render :partial => 'components/debug_panel' %>
<div id="header">
  <ul>
    <li><a href="/" style="color: white; font-weight: bold;">FFL</a></li>
    <li>
      <% if @current_league %>
        <a href="/leagues" style="color: lightgreen;"><%= @current_league.name %></a>
      <% else %>
        <a href="/leagues" style="color: salmon; font-style:italic;">No league selected</a>
      <% end %>
    </li>
    <li><a href="/players">players</a></li>
    <li><a href="/teams">teams</a></li>
    <% if @current_league %>
      <% @current_league.rfa_periods.each do |rfa| %>
        <li><a href="/rfa_periods/#{rfa.id}" style="color:lightyellow;">RFA!!!</a></li>      
      <% end %>
    <% end %>
  </ul>
  <span id="login_logout" style="float:right; white-space:nowrap; ">
    <% if @current_user %>
      <span style="">Welcome, <%= @current_user.name %>!</span>
      <a href="/application/logout">Logout</a>
    <% else %>
      <%= form_tag :controller => 'application', :action => 'login', :method => 'post' do %>
        <%= label_tag(:name, "Username") %>
        <%= text_field_tag(:name, nil, :style => 'width: 8em;') %>
        <%= label_tag(:password, "Password") %>
        <%= password_field_tag(:password, nil, :style => 'width: 8em;') %>
        <%= submit_tag("Login") %>
        <a href="/users/new">Register</a>
      <% end %>
    <% end %>
  </span>
</div>
<% [:error, :warning, :notice].each do |cat| %>
  <% next unless flash[cat] %>
  <% flash[cat].each do |msg| %>
    <div class="<%= cat %>"><%= msg %></div>
  <% end %>
<% end %>
<div id="bigdiv" style="margin: .5em;">
<%= yield %>
</div>

</body>
</html>
